<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Cadastro de Colaboradores</title>

        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    </head>
    <body>

        <header th:insert="~{sidebar.html}"></header>

        <!-- Conteúdo -->
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-5">
                    <h2 class="mb-4">Cadastro de colaboradores</h2>

                    <!-- Botão "Cadastrar Colaborador" -->
                    <button type="button" class="btn btn-primary float-end m-3" data-bs-toggle="modal" data-bs-target="#cadastroModal">
                        Cadastrar Colaborador
                    </button>

                    <!-- Barra de Pesquisa -->
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="inputPesquisa" placeholder="Digite o nome do colaborador para pesquisar..." aria-label="Pesquisar colaborador" aria-describedby="button-pesquisar">
                        <button class="btn btn-outline-secondary" type="button" id="button-pesquisar">Pesquisar</button>
                    </div>

                    <!-- Lista de Alunos -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Telefone</th>
                                <th>CPF</th>
                                <th>Cargo</th>
                                <th>Salário</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="colaborador : ${colaboradores}">
                                <td th:text="${colaborador.id}"></td>
                                <td th:text="${colaborador.nome}"></td>
                                <td th:text="${colaborador.telefone}"></td>
                                <td th:text="${colaborador.cpf}"></td>
                                <td th:text="${colaborador.cargo}"></td>
                                <td th:text="${colaborador.salario}"></td>
                                <td>
                                    <!-- Botão Editar -->
                                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#editarModal" th:attr="data-id=${colaborador.id}">
                                        Editar
                                    </button>

                                    <!-- Botão Excluir -->
                                    <button type="button" class="btn btn-danger btn-sm" th:attr="data-id=${colaborador.id}" onclick="excluirColaborador(this)">
                                        Excluir
                                    </button>
                                </td>       
                            </tr>
                        </tbody>
                    </table>

                    <!-- Modal de Cadastro Colaborador -->
                    <div class="modal fade" id="cadastroModal" tabindex="-1" aria-labelledby="cadastroModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="cadastroModalLabel">Cadastrar Novo Colaborador</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Formulário de cadastro do colaborador aqui -->
                                    <form th:action="@{/cadastrar-colaborador}" method="post" th:object="${colaborador}" class="form" onsubmit="return validateForm(this);">
                                        <div class="mb-3">
                                            <label for="nome" class="form-label">Nome Completo:</label>
                                            <input type="text" class="form-control" id="nome" th:field="*{nome}" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="telefone" class="form-label">Telefone:</label>
                                            <input type="text" class="form-control" id="nome" th:field="*{telefone}" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="cpf" class="form-label">CPF:</label>
                                            <input type="text" class="form-control" id="cpf" th:field="*{cpf}" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="cargo" class="form-label">Cargo:</label>
                                            <select class="form-select" id="cargo" th:field="*{cargo}">
                                                <option value="pedagogo">Pedagogo(a)</option>
                                                <option value="professor">Professor(a)</option>
                                                <option value="servicosGerais">Serviços Gerais</option>
                                                <option value="cozinheiro">Cozinheiro(a)</option>
                                                <option value="seguranca">Segurança</option>
                                            </select>
                                        </div>
                                        <div class="mb-3">
                                            <label for="salario" class="form-label">Salario</label>
                                            <input type="text" class="form-control" id="salario" th:field="*{salario}" required>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Cadastrar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script th:src="@{/js/script.js}"></script>
    </body>
</html>
