<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Cadastro de Alunos</title>

        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
    <body>
        <header th:insert="~{sidebar.html}"></header>
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-5">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h2 class="mb-0 text-primary">ALUNOS</h2>
                        <button type="button" class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#cadastroModal">
                            + Novo Aluno
                        </button>
                    </div>

                    <!-- Alerta de Sucesso -->
                    <div th:if="${mensagem}" class="custom-alert alert-dismissible fade show" role="alert">
                        <span th:text="${mensagem}" class="alert-message"></span>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">&times;</button>
                    </div>

                    <!-- Barra de Pesquisa -->
                    <div class="input-group mb-4">
                        <input type="text" class="form-control" id="inputPesquisa" placeholder="Digite o nome do aluno para pesquisar..." aria-label="Pesquisar aluno" aria-describedby="button-pesquisar">
                        <button class="btn btn-outline-secondary" type="button" id="button-pesquisar">Pesquisar</button>
                    </div>

                    <!-- Lista de Alunos -->
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead class="table-dark">
                                <tr>
                                    <th>Nome</th>
                                    <th>Data Nascimento</th>
                                    <th>Sexo</th>
                                    <th>Nome da Mãe</th>
                                    <th>Turno</th>
                                    <th>Convênio</th>
                                    <th>Valor Mensalidade</th>
                                    <th class="text-center">Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="aluno : ${alunos}">
                                    <td th:text="${aluno.nome}"></td>
                                    <td th:text="${aluno.dataNasc}"></td>
                                    <td th:text="${aluno.sexo}"></td>
                                    <td th:text="${aluno.nomeMae}"></td>
                                    <td th:text="${aluno.turno}"></td>
                                    <td th:text="${aluno.convenio}"></td>
                                    <td th:text="'R$ ' + ${#numbers.formatDecimal(aluno.mensalidade, 2, 'POINT', 2, 'COMMA')}"></td>
                                    <td>
                                        <!-- Botão Editar -->
                                        <a th:href="@{'/editar-aluno/' + ${aluno.id}}"
                                           class="btn btn-warning btn-sm btn-custom">
                                            Editar
                                        </a>
                                        <!-- Botão Excluir -->
                                        <a th:href="@{'/alunos/deletar/' + ${aluno.id}}"
                                           class="btn btn-danger btn-sm btn-custom" 
                                           th:attr="data-nome=${aluno.nome}" 
                                           onclick="return confirmarExclusaoAluno(this)">
                                            Excluir
                                        </a>

                                        <!-- Botão Cadastrar Responsável -->
                                        <button type="button" class="btn btn-success btn-sm btn-custom" 
                                                data-bs-toggle="modal" 
                                                data-bs-target="#cadastrarResponsavelModal" 
                                                th:attr="data-aluno-id=${aluno.id}" 
                                                onclick="prepararCadastroResponsavel(this)">
                                            
                                            + Responsável
                                        </button>

                                        <!-- Botão Ver Responsável -->
                                        <button type="button" class="btn btn-info btn-sm btn-custom" 
                                                data-bs-toggle="modal" 
                                                data-bs-target="#verResponsavelModal" 
                                                th:attr="data-aluno-id=${aluno.id}" 
                                                onclick="prepararVerResponsavel(this)">
                                            Ver Responsável
                                        </button>
                                    </td>                                
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- Modal de Cadastro de Aluno -->
                    <div class="modal fade" id="cadastroModal" tabindex="-1" aria-labelledby="cadastroModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header bg-primary text-white">
                                    <h5 class="modal-title" id="cadastroModalLabel">Cadastrar Novo Aluno</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                                </div>
                                <div class="modal-body">
                                    <form th:action="@{/cadastrar-aluno}" method="post" th:object="${aluno}" onsubmit="handleSubmit()">
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="nome" class="form-label">Nome Completo:</label>
                                                <input type="text" class="form-control" id="nome" th:field="*{nome}" placeholder="Digite o nome completo" required>
                                                <div class="invalid-feedback">Por favor, insira o nome completo.</div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="dataNascimento" class="form-label">Data de Nascimento:</label>
                                                <input type="date" class="form-control" id="dataNascimento" th:field="*{dataNasc}" required>
                                                <div class="invalid-feedback">Por favor, selecione a data de nascimento.</div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="sexo" class="form-label">Sexo:</label>
                                                <select class="form-select" id="sexo" th:field="*{sexo}" required>
                                                    <option value="" disabled selected>Selecione o sexo</option>
                                                    <option value="Masculino">Masculino</option>
                                                    <option value="Feminino">Feminino</option>
                                                </select>
                                                <div class="invalid-feedback">Por favor, selecione o sexo.</div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="nomeMae" class="form-label">Nome da Mãe:</label>
                                                <input type="text" class="form-control" id="nomeMae" th:field="*{nomeMae}" placeholder="Digite o nome da mãe" required>
                                                <div class="invalid-feedback">Por favor, insira o nome da mãe.</div>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-6">
                                                <label for="turno" class="form-label">Turno:</label>
                                                <select class="form-select" id="turno" th:field="*{turno}">
                                                    <option value="" disabled selected>Selecione o turno</option>
                                                    <option value="Integral">Integral</option>
                                                    <option value="Intermediário">Intermediário</option>
                                                    <option value="Parcial">Parcial</option>
                                                </select>
                                                <div class="invalid-feedback">Por favor, selecione o turno.</div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="convenio" class="form-label">Convênio:</label>
                                                <select class="form-select" id="convenio" th:field="*{convenio}">
                                                    <option value="" disabled selected>Selecione o convênio</option>
                                                    <option value="Particular">Particular</option>
                                                    <option value="Prefeitura">Prefeitura</option>
                                                </select>
                                                <div class="invalid-feedback">Por favor, selecione o convenio.</div>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="valorMensalidade" class="form-label">Valor da Mensalidade:</label>
                                                <input type="text" class="form-control" id="mensalidade" th:field="*{mensalidade}" placeholder="Digite o valor da mensalidade" required>
                                                <div class="invalid-feedback">Por favor, insira o valor da mensalidade.</div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal de Cadastro de Responsável -->
                    <div class="modal fade" id="cadastrarResponsavelModal" tabindex="-1" aria-labelledby="cadastrarResponsavelModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header modal-header-custom">
                                    <h5 class="modal-title" id="cadastrarResponsavelModalLabel">Cadastrar Responsável</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Formulário de cadastro do responsável aqui -->
                                    <form id="responsavelForm" th:action="@{/cadastrar-responsavel}" method="post" th:object="${responsavel}" class="form">
                                        <input type="hidden" id="alunoId" name="alunoId" />
                                        <div class="mb-3">
                                            <label for="nome" class="form-label">Nome:</label>
                                            <input type="text" class="form-control" id="nome" th:field="*{nome}" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="cpf" class="form-label">CPF:</label>
                                            <input type="text" class="form-control" id="cpf" th:field="*{cpf}" placeholder="Digite somente números..." required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="telefone" class="form-label">Telefone:</label>
                                            <input type="text" class="form-control" id="telefone" th:field="*{telefone}" placeholder="(99) 99999-9999" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="endereco" class="form-label">Endereço:</label>
                                            <input type="text" class="form-control" id="endereco" th:field="*{endereco}" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="email" class="form-label">E-email:</label>
                                            <input type="email" class="form-control" id="email" th:field="*{email}">
                                            <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Por favor, insira um e-mail válido.</div>
                                        </div>
                                        <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal de Ver Responsável -->
                    <div class="modal fade" id="verResponsavelModal" tabindex="-1" aria-labelledby="verResponsavelModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header bg-primary text-white">
                                    <h5 class="modal-title" id="verResponsavelModalLabel">Responsáveis Vinculados</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                                </div>
                                <div class="modal-body">
                                    <div id="responsavelList" class="mb-3">
                                        <!-- Lista de responsáveis será inserida aqui -->
                                    </div>
                                    <p id="mensagemSemResponsavel" class="text-danger" style="display: none;">
                                        Não há responsável cadastrado para esse aluno.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js"></script>
        <script th:src="@{/js/script.js}"></script>
        <script>
                                        $(document).ready(function () {
                                            if ($('.custom-alert').length) {
                                                setTimeout(function () {
                                                    $('.custom-alert').alert('close');
                                                }, 5000); // Fecha o alerta após 5 segundos
                                            }
                                        });
        </script>
    </body>
</html>
