<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Login</title>
        <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/login.css}" />    
    </head>
    <body>
        <div class="login-container">
            <h2>Login</h2>

            <!-- Mensagem de erro, se houver -->
            <div th:if="${error}" class="alert alert-danger">
                <p th:text="${error}"></p>
            </div>

            <form th:action="@{/login}" method="post">
                <div class="mb-3">
                    <label for="username">Usuário:</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Informe seu usuário..." required>
                </div>
                <div class="mb-3">
                    <label for="password">Senha:</label>
                    <input type="password" class="form-control" id="password" name="senha" placeholder="Informe sua senha..." required>
                </div>
                <button type="submit" class="btn btn-primary">Entrar</button>
            </form>
        </div>

        <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>
